.tableContainer {
    max-width: 100vw;
    overflow: auto;
    box-shadow: 0px 11px 68px -3px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    height: calc(100vh - 246px);
    background: #fff;

    thead {
        background-color: #7E7E7E;
        position: sticky;
        top: 0;
        z-index: 999;
        th:first-child {
            border-radius: 15px 0px 0px 15px;
        }

        th:last-child {
            border-radius: 0px 15px 15px 0px;
        }

        th {
            background: #7E7E7E;
            color: #fff;
            border-bottom: none;
            white-space: nowrap;
        }
    }

    tbody {
        td {
            background: #fff;
        }

        tr td:first-child,
        tr td:nth-child(2) {
            font-weight: bold;
        }

        tr td:last-child {
            select {
                background: linear-gradient(180deg, #00F418 0%, #00A72F 100%);
                color: #fff;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                padding-right: 30px;
                width: 126px;

                option {
                    color: #000;
                }
            }

            span {
                position: relative;;
                font-size: 18px;
                color: rgb(255 255 255);
                top: -26px;
                right: -102px;
            
            }

            select.approved {
                background: linear-gradient(180deg, #00F418 0%, #00A72F 100%);
            }

            select.pending {
                background: linear-gradient(180deg, #F4BB00 0%, #FFA800 100%);
            }

            select.completed {
                background: linear-gradient(180deg, #F47500 0%, #FF2E00 100%);
            }
        }
    }
}

@media (max-width: 767px) {
    .heading {
        font-size: 12px;
        margin-top: 3.3rem;
        font-size: 1.67rem;
        margin-bottom: 1.67rem;
    }
}